/Debug
/Release


openal32.dll
sfml*

CellAutomaton.vcxproj
CellAutomaton.vcxproj.filters

CellAutomaton.vcxproj
CellAutomaton.vcxproj.filters

CellAutomaton.sdf
CellAutomaton.opensdf
CellAutomaton.sln

.vs/

/CellAutomaton/Debug